# OS
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
__pycache__

# Common IDEs
*.swp
.idea/
.pyenv/
.buildpath
.settings
atlassian-ide-plugin.xml
.project
.pydevproject
.installed.cfg
*.sublime-project
*.sublime-workspace
*.ropeproject
*.patch
*.iml

# Coverage
.coverage

# Virtualenv
env/
.env/
.env
venv/
.venv/
.venv
p2_7

# Project
/public/

# Settings
settings_local.py
local_settings.py
local.py

# SQLite
*.sqlite*
*.db

# Translations

# Logs
*.log

*.pid

/reports/

# Redis
*.rdb
*.bak

django-colors-formatter

# testing
testing/
local_env.sh
*.egg-info/
.tox/
deprecated/
.bndsdkrc

# sphinx
sphinx_docs/build/*

# builds
dist

pep.sh
play.py
